:root {
    --background-primario: #f9f9f9; /*não é bom usar o #fff para background e #000 para texto, esse background e o text primarios tem um leve tom, bem pequeno mas o suficiente para não se o padraozoa, mas qlqr coisa dps troca o tom se vcs acharem q fica ruim*/
    --background-secundario: #effff1; /* o secundario está ai para quando precisar de um leve contraste com o primario*/
    --background-terciario: #111111;

    --background-roxo-principal: #8A45ED; /*evitar ao máximo de usar os -roxo-principal e -roxo-secundario no final desse root*/
    --background-roxo-secundario: #4F2787; /*pq dps, principalmente na hr de fzr o tema escuro, é mt ruim de trocar as cores se uma variavel estiver em todos os tipos de componentes imaginaveis*/

    --text-primario: #060c05;
    --text-secundario: #414141;
    --text-terciario: #9795B5; /*Esse é o usado nos items/links do Footer*/
    --text-quaternario: #f9f9f9;
    --text-roxo-principal: #8A45ED;
    --text-roxo-secundario: #4F2787;
    --text-roxo-terciario: #3C1673;

    --roxo-principal: #8A45ED; /*Usar mais para referencia, pra não perder o código hex, mas é bom evitar ao máaximo de usar essas variaveis diretamente*/
    --roxo-secundario: #4F2787;
}

* {
    font-family: sans-serif;
}

/* HEADER */

.headerAQ{
    background-color: var(--background-roxo-principal);
    color: var(--text-quaternario) !important;
}

.headerAQ, .nav-link{
    text-decoration: none !important;
    color: var(--text-quaternario) !important;
}

.btn-outline-white {
  color:  var(--text-quaternario) !important;
  border: 1px solid  var(--text-quaternario) !important;
  border-radius: 1.5rem !important; 
}

.btn-white {
  background-color:  var(--text-quaternario) !important;
  color: var(--background-roxo-principal) !important;
  border: 1px solid var(--background-roxo-principal) !important;
  border-radius: 2rem !important; 
}

.btn-white:hover {
  background-color: #f0f0f0;
}

/* Fim do Header*/

/* FOOTER*/

.footerAQ, .footer-list{
    list-style: none !important;
}

.footerAQ, a{
    color: var(--text-terciario) !important;
}

.footerAQ{
    padding-top: 8rem;
}

.footerTitulo{
    color: var(--text-roxo-terciario);
}
.footer-link{
    text-decoration: none;
}

/* Fim do FOOTER*/

/* Tela de ERRO */

#oopss {
    background: #222;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
    position: fixed;
    width: 100%;
    height: 100%;
    line-height: 1.5em;
    z-index: 9999;
    left: 0px;
  }
  
  #error-text {
    top: 30%;
    position: relative;
    font-size: 40px;
    color: #eee;
  }
  
  #error-text a {
    color: #eee;
  }
  
  #error-text a:hover {
    color: #fff;
  }
  
  #error-text p {
    color: #eee;
    margin: 70px 0 0 0;
  }
  
  #error-text i {
    margin-left: 10px;
  }
  
  #error-text p.hmpg {
    margin: 40px 0 0 0;
  }
  
  #error-text span {
    position: relative;
    background: #ef4824;
    color: #fff;
    font-size: 300%;
    padding: 0 20px;
    border-radius: 5px;
    font-weight: bolder;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 0 40px 0;
  }
  
  #error-text span:hover {
    background: #d7401f;
    color: #fff;
    -webkit-animation: jelly 0.5s;
    -moz-animation: jelly 0.5s;
    -ms-animation: jelly 0.5s;
    -o-animation: jelly 0.5s;
    animation: jelly 0.5s;
  }
  
  #error-text span:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #ef4824;
    border-width: 7px;
    margin-left: -7px;
  }
  
  @-webkit-keyframes jelly {
    from,
    to {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    25% {
      -webkit-transform: scale(0.9, 1.1);
      transform: scale(0.9, 1.1);
    }
    50% {
      -webkit-transform: scale(1.1, 0.9);
      transform: scale(1.1, 0.9);
    }
    75% {
      -webkit-transform: scale(0.95, 1.05);
      transform: scale(0.95, 1.05);
    }
  }
  
  @keyframes jelly {
    from,
    to {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    25% {
      -webkit-transform: scale(0.9, 1.1);
      transform: scale(0.9, 1.1);
    }
    50% {
      -webkit-transform: scale(1.1, 0.9);
      transform: scale(1.1, 0.9);
    }
    75% {
      -webkit-transform: scale(0.95, 1.05);
      transform: scale(0.95, 1.05);
    }
  }
  /* CSS Error Page Responsive */
  
  @media only screen and (max-width: 640px) {
    #error-text span {
      font-size: 200%;
    }
    #error-text a:hover {
      color: #fff;
    }
  }
  
/* Fim das telas de ERRO*/